<picks-form></picks-form>
<div id="header">
    <div class="container">
        <div class="fill-space"></div>
        <div class="leaderboard">
          <md-list>
            <md-list-item *ngFor="let pick of picks | async">
              <a *ngIf="pick.public" [routerLink]="['/pick-detail', pick._id]" style="text-decoration:none; width:150px">
                <div class="pick-name">{{pick.name}}</div>
                <div class="pick-owner">{{pick.owner | displayOwnerName}}</div>
              </a>
              <span class="pick-points-container">
                <span class="pick-points-sum">
                  <div class="pick-points-amount">{{ pick.Playoffs.Goals }}</div>
                  <div class="pick-points-title">Goals<div>
                </span>
                <span class="pick-points-sum">
                  <div class="pick-points-amount">{{ pick.Playoffs.Assists }}</div>
                  <div class="pick-points-title">Assists<div>
                </span>
                <span class="pick-points-sum">
                  <div class="pick-points-amount">{{ pick.Playoffs.Points }}</div>
                  <div class="pick-points-title">Points<div>
                </span>
              </span>
              <div class="edit-icons-container">
                <a[routerLink]="['/pick-edit', pick._id]" *ngIf="isOwner(pick)" style="text-decoration:none;">
                  <button class="edit-pick" md-icon-button>
                    <md-icon class="md-24">edit</md-icon>
                  </button>
                </a>
                <button class="remove-pick" md-icon-button *ngIf="isOwner(pick)" (click)="removePick(pick)">
                  <md-icon class="md-24">delete</md-icon>
                </button>
              </div>
            </md-list-item>
          </md-list>
        </div>
        <div class="fill-space"></div>
    </div>
</div>
