#header {
  background-color: primary;
  width:100%;
}

.container {
  display: table;
  width: 100%;
}

.leaderboard {
background-color: yellow;
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  width: 350px;
  padding: 0 5px 0 5px;

  .pick-name {
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: normal;
    margin: 5px 5px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  .pick-owner {
    font-size: 13px;
    color: #aaa;
    display: inline-block;
    margin: 0px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pick-points-container {
    width: 160px;

    .pick-points-sum {
      display: inline-block;
      width: 50px;
      text-align: center;

      .pick-points-amount {
        font-size: 20px;
      }

      .pick-points-title {
        font-size: 13px;
        color: #aaa;
      }
    }
  }

  .edit-icons-container {
    float: right;
    position: relative;
    width: 85px;

    .edit-pick {
      color: black;
      width: 40px;
    }

    .remove-pick {
      margin: 5px 0px 0px;
      width: 40px;
    }
  }
}

.fill-space {
  background-color: red; 
  white-space: nowrap;
  padding:0px;
}

