<div class="players-list-container">
  <div class="players-list">
    <md-card class="filter-card">
      <form>
        Sort by name: a
        <select class="form-control" #sort (change)="changeSortOrder(sort.value)">
          <option value="1" selected>Ascending</option>
          <option value="-1">Descending</option>
        </select>
      </form>
      {{ playersSize }}

    </md-card>

    <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
    <md-list>

      <md-list-item *ngFor="let player of players | async" class="player-card">
      <h2 md-line>{{player.TeamName}}</h2>
      <h1 md-line><b>{{player.FirstName}} {{player.LastName}}</b> #{{player.JerseyNumber}}</h1> 
      <h3 md-line>{{player.Position | positionFormatter}}</h3>
      <p md-line>
      <div class="player-points-container">
        <div class="player-points-sum">
          <div class="player-points-amount">{{player.RegularSeason.Goals}}</div>
          <div class="player-points-title">Goals</div>
        </div>
        <div class="player-points-sum">
          <div class="player-points-amount">{{player.RegularSeason.Assists}}</div>
          <div class="player-points-title">Assists</div>
        </div>
        <div class="player-points-sum">
          <div class="player-points-amount">{{player.RegularSeason.Points}}</div>
          <div class="player-points-title">Points</div>
        </div>
      </div>
      </p>
    </md-list>
    <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
  </div>
</div>
